[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
pillow = "*"
django-bootstrap-v5 = "*"
python-dateutil = "*"
django-import-export = "*"
openpyxl = "*"

[dev-packages]
pytest-django = "*"

[requires]
python_version = "3.9"
