{% extends 'base_table.html' %}
{% load bootstrap5 %}

{% block table_block %}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Telefone</th>
                <th scope="col">Endereço</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <th scope="col">{{ cliente.id }}</th>
                <td>{{ cliente.get_nome_completo }}</td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.telefone }}</td>
                <td>{{ cliente.endereco }}</td>
                <td>
                    <ul class="list-inline m-0">
                        <li class="list-inline-item me-3">
                            <a href="{% url 'vendas:editar_cliente' cliente.id %}">
                                <i class="fas fa-wrench link-dark"></i>
                            </a>
                        </li>
                        <li class="list-inline-item me-3">
                            <form action="{% url 'vendas:deletar_cliente' cliente.id %}" method="POST">
                                {% csrf_token %}
                                <!-- Delete Modal Trigger -->
                                <a href="#ModalDeletarCliente{{ cliente.id }}" data-bs-toggle="modal"><i class="fas fa-trash link-dark"></i></a>
                                <!-- Delete Modal -->
                                <div class="modal fade" id="ModalDeletarCliente{{ cliente.id }}" tabindex="-1" aria-labelledby="ModalDeletarCliente{{ cliente.id }}Label" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title display-6 fw-normal" id="ModalDeletarCliente{{ cliente.id }}Label">
                                                    {{ cliente.get_nome_completo }}
                                                </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Você tem certeza que deseja deletar este cliente?</p>
                                                <p><strong>Ele será deletado para sempre!</strong></p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                                <button type="submit" class="btn btn-danger">Deletar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock table_block %}
