{% extends 'base_table.html' %}
{% load bootstrap5 %}

{% block table_block %}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Telefone</th>
                <th scope="col">Endereço</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <th scope="col">{{ cliente.id }}</th>
                <td>{{ cliente.get_nome_completo }}</td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.telefone }}</td>
                <td>{{ cliente.endereco }}</td>
                <td>
                    <ul class="list-inline m-0">
                        <li class="list-inline-item me-3">
                            <a href="{% url 'vendas:editar_cliente' cliente.id %}">
                                <i class="fas fa-wrench link-dark"></i>
                            </a>
                        </li>
                        <li class="list-inline-item me-3">
                            <form action="{% url 'vendas:deletar_cliente' cliente.id %}" method="POST">
                                {% csrf_token %}
                                <!-- Delete Modal Trigger -->
                                <a href="#ModalDeletarCliente{{ cliente.id }}" data-bs-toggle="modal"><i class="fas fa-trash link-dark"></i></a>
                                <!-- Delete Modal -->
                                <div class="modal fade" id="ModalDeletarCliente{{ cliente.id }}" tabindex="-1" aria-labelledby="ModalDeletarCliente{{ cliente.id }}Label" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title display-6 fw-normal" id="ModalDeletarCliente{{ cliente.id }}Label">
                                                    {{ cliente.get_nome_completo }}
                                                </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Você tem certeza que deseja deletar este cliente?</p>
                                                <p><strong>Ele será deletado para sempre!</strong></p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                                <button type="submit" class="btn btn-danger">Deletar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<nav aria-label="Page navigation">
    <ul class="pagination">
        <!-- Previous -->
        {% if clientes.has_previous %}
            <li class="page-item px-0">
              <a class="page-link" href="?page={{ clientes.previous_page_number }}{% if search_by %}&{{ search_by }}{% endif %}{% if sorting %}&{{  sort_by }}{% endif %}">
                <i class="fa-solid fa-angles-left"></i>
              </a>
            </li>
        {% else %}
            <li class="page-item px-0 disabled"><a class="page-link" href="#" aria-disabled="true">
              <i class="fa-solid fa-angles-left"></i>
            </a></li>
        {% endif %}
        <!-- Page numbers -->
        {% for page_number in clientes.paginator.page_range %}
            {% if page_number == clientes.number %}
                <li class="page-item px-0 active" aria-current="page"><a class="page-link" href="?page={{ page_number }}{% if search_by %}&{{ search_by }}{% endif %}{% if sorting %}&{{  sort_by }}{% endif %}">{{ page_number }}<span class="sr-only">(current)</span></a></li>
            {% else %}
                <li class="page-item px-0"><a class="page-link" href="?page={{ page_number }}{% if search_by %}&{{ search_by }}{% endif %}{% if sorting %}&{{  sort_by }}{% endif %}">{{ page_number }}</a></li>
            {% endif %}
        {% endfor %}
        <!-- Next -->
        {% if clientes.has_next %}
            <li class="page-item px-0"><a class="page-link" href="?page={{ clientes.next_page_number }}{% if search_by %}&{{ search_by }}{% endif %}{% if sorting %}&{{  sort_by }}{% endif %}">
                <i class="fa-solid fa-angles-right"></i>
            </a></li>
        {% else %}
            <li class="page-item px-0 disabled"><a class="page-link" href="#" aria-disabled="true">
                <i class="fa-solid fa-angles-right"></i>
            </a></li>
        {% endif %}
    </ul>
</nav>

{% endblock table_block %}
