{% extends 'users/base.html' %}
{% load bootstrap5 %}

{% block content %}
<div class="container-sm mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 border shadow p-4">
            <h1 class="display-5 pb-2 border-bottom text-center mb-3">{{ title }}</h1>
            <form action="{% url 'login' %}" method="POST">
                <div class="row">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <a href="{% url 'password_reset' %}">Esqueceu sua senha?</a>
                </div>
                <div class="row mt-2">
                    {% buttons %}
                        <button type="submit" class="btn btn-primary w-100">Entrar</button>
                    {% endbuttons %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}