{% extends 'base.html' %}
{% load bootstrap5 %}
{% load financeiro %}
{% load humanize %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 border-bottom">
    <h1 class="h2">
        Fluxo de Caixa
        {% if saldo >= 0%}
        <span class="text-success">+{{ saldo|intcomma }}</span>
        {% else %}
        <span class="text-danger">{{ saldo|intcomma }}</span>
        {% endif %}
    </h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="dropdown me-2">
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                {{ data|date:"F" }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                {% for mes in meses %}
                    <li><a class="dropdown-item {% if data.month == forloop.counter %}active{% endif %}" href="{% url 'financeiro:fluxo_de_caixa' data.year forloop.counter %}">{{ mes }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="dropdown me-2">
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                {{ data.year }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {% for ano in anos %}
                    <li><a class="dropdown-item {% if data.year == ano %}active{% endif %}" href="{% url 'financeiro:fluxo_de_caixa' ano data.month %}">{{ ano }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="dropdown me-2">
            <div class="input-group">
                <a href="{% url 'financeiro:nova_despesa' %}" class="btn btn-sm btn-primary border-end">
                    <i class="fas fa-plus"></i><span class="ms-2">Despesa</span>
                </a>
                <button class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                    <li><a href="{% url 'materiais:entrada_de_material' %}" class="dropdown-item">Entrada de material</a></li>
                    <li><a href="{% url 'fornecedores:novo_servico' %}" class="dropdown-item">Serviços contratados</a></li>
                </ul>
            </div>
        </div>
        <div class="btn-group" role="group">
            <a href="{% url 'vendas:basket_summary' %}?next={{ request.path|urlencode }}" class="btn btn-sm btn-primary">
                <i class="fas fa-plus"></i><span class="ms-2">Venda</span>
            </a>
        </div>
    </div>
</div>

<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{ meses|safe }},
        datasets: [{
            data: {{ dados|safe }},
            backgroundColor: [
                '#006FE6'
            ],
            borderColor: [
                '#006FE6'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        },
        plugins: {
            legend: {
                display: false
            }
        }
    }
});
</script>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Data</th>
                <th scope="col">Tipo</th>
                <th scope="col">Categoria</th>
                <th scope="col">Valor (parcela)</th>
                <th scope="col">Visualizar</th>
            </tr>
        </thead>
        <tbody>
            {% for t in transacoes %}
            <tr>
                <th scope="col">{{ t.id }}</th>
                <td>{{ t.data|date:"d-m-Y" }}</td>
                <td>{{ t.get_tipo_de_transacao }}</td>
                <td>{{ t.categoria }}</td>
                <td>R$
                        {{ t.valor|intcomma }} {% get_parcela t data %}
                </td>
                <td>
                    <ul class="list-inline m-0">
                        <li class="list-inline-item me-3">
                            {% if t.categoria == 'Venda' %}
                                <!-- Venda Trigger -->
                                <a href="#ModalVisualizarVenda{{ t.receita.venda.id }}" data-bs-toggle="modal">
                                    <i class="far fa-eye link-dark"></i>
                                </a>
                                <!-- Venda Modal -->
                                <div class="modal fade" id="ModalVisualizarVenda{{ t.receita.venda.id }}" tabindex="-1" aria-labelledby="ModalVisualizarVenda{{ t.receita.venda.id }}Label" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title display-6" id="ModalVisualizarVenda{{ t.receita.venda.id }}Label">
                                                    <strong>Venda #{{ t.receita.venda.id }}</strong>
                                                </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <table class="table">
                                                            <thead>
                                                                <th scope="col">Data da Venda</th>
                                                                <th scope="col">Cliente</th>
                                                                <th scope="col">Parcelas</th>
                                                                <th scope="col">Total Pago</th>
                                                            </thead>
                                                            <tbody>
                                                                <td>{{ t.receita.venda.data|date:"d-m-Y" }}</td>
                                                                <td>{{ t.receita.venda.cliente.get_nome_completo|default:"Desconhecido" }}</td>
                                                                <td>{{ t.receita.venda.parcelas }}x de R$ {{ t.receita.venda.get_valor_parcela|intcomma }}</td>
                                                                <td>R$ {{ t.receita.venda.valor|intcomma }}</td>
                                                            </tbody>
                                                        </table>
                                                        {% if t.receita.venda.observacao %}
                                                        <div class="mb-3">
                                                            <p>Observação: {{ t.receita.venda.observacao }}</p>
                                                        </div>
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-12">
                                                        <h1 class="display-6">Produtos Vendidos</h1>
                                                        <table class="table">
                                                            <thead>
                                                                <th scope="col">Código</th>
                                                                <th scope="col">Produto</th>
                                                                <th scope="col">Quantidade</th>
                                                                <th scope="col">Custo de Produção</th>
                                                                <th scope="col">Preço total</th>
                                                            </thead>
                                                            <tbody>
                                                                {% for bitem in t.receita.venda.basket.get_items %}
                                                                <tr>
                                                                    <td scope="col">{{ bitem.product.id }}</td>
                                                                    <td>{{ bitem.product.nome }}</td>
                                                                    <td>{{ bitem.quantity }}</td>
                                                                    <td>R$ {{ bitem.get_production_cost|intcomma }}</td>
                                                                    <td>R$ {{ bitem.get_sale_price|intcomma }}</td>
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="row w-100 d-flex justify-content-between">
                                                    <div class="col-auto">
                                                        <div class="row g-0 px-0">
                                                            <div class="col-6">
                                                                <a href="{% url 'vendas:editar_venda' t.receita.venda.id %}" class="btn btn-primary">Editar</a>
                                                            </div>
                                                            <div class="col-6">
                                                                <form action="{% url 'vendas:deletar_venda' t.receita.venda.id %}">
                                                                    <button type="submit" class="btn btn-danger">Deletar</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% elif t.categoria == 'Entrada de material' %}
                                <!-- Material Trigger -->
                                <a href="#ModalVisualizarMaterial{{ t.id }}" data-bs-toggle="modal">
                                    <i class="far fa-eye link-dark"></i>
                                </a>
                                <!-- Material Modal -->
                                <div class="modal fade" id="ModalVisualizarMaterial{{ t.id }}" tabindex="-1" aria-labelledby="ModalVisualizarMaterial{{ t.id }}Label" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title display-6" id="ModalVisualizarMaterial{{ t.id }}Label">
                                                    <strong>Material #{{ t.entrada.material.id }} - {{t.entrada.material.nome}}</strong>
                                                </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <!-- Informações Gerais -->
                                                        <div class="card" style="flex-direction: row">
                                                            <div class="card-img-top" style="width: 33%">
                                                                <img src="{{ t.entrada.material.foto.url }}" class="card-img-top" alt="...">
                                                            </div>
                                                            <div class="card-body">
                                                                <table class="table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="fs-5">Informações Gerais</th>
                                                                            <th></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td><strong>Nome:</strong> {{ t.entrada.material.nome }}</td>
                                                                            <td><strong>Qualidade:</strong> {{ t.entrada.material.qualidade }}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><strong>Categoria:</strong> {{ t.entrada.material.categoria }}</td>
                                                                            <td><strong>Subcategoria:</strong> {{ t.entrada.material.subcategoria|default:"Nenhuma" }}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><strong>Dimenssões:</strong> {{ t.entrada.material.get_dimenssoes }}</td>
                                                                            <td><strong>Peso:</strong> {{ t.entrada.material.get_peso }}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><strong>Preço Unitário:</strong> R$ {{ t.entrada.material.get_preco_unitario|intcomma }}</td>
                                                                            <td>
                                                                                {% if t.entrada.material.unidade_de_medida == 'g' %}
                                                                                    <strong>Preço da Grama :</strong>
                                                                                {% else %}
                                                                                    <strong>Preço do Quilate :</strong>
                                                                                {% endif %}
                                                                                R$ {{ t.entrada.material.get_preco_por_peso|intcomma }}
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Observação -->
                                                    {% if t.observacao %}
                                                    <div class="col-12">
                                                        <h1 class="display-6">Observação</h1>
                                                        <p class="px-3">
                                                            {{ t.observacao }}
                                                        </p>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="row w-100 d-flex justify-content-between">
                                                    <div class="col-auto">
                                                        <div class="row g-0 px-0">
                                                            <div class="col-auto">
                                                                <a href="{% url 'materiais:editar_material' t.id %}" class="btn btn-primary">Editar</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% elif t.categoria == 'Serviço contratado' %}
                                <!-- Serviço Trigger -->
                                <a href="#ModalVisualizarServico{{ t.id }}" data-bs-toggle="modal">
                                    <i class="far fa-eye link-dark"></i>
                                </a>
                                <!-- Serviço Modal -->
                                <div class="modal fade" id="ModalVisualizarServico{{ t.id }}" tabindex="-1" aria-labelledby="ModalVisualizarServico{{ t.id }}Label" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title display-6" id="ModalVisualizarServico{{ t.id }}Label">
                                                    <strong>Serviço #{{ t.servico.id }}</strong>
                                                </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table">
                                                    <tr>
                                                        <th scope="col">Código</th>
                                                        <td scope='col'>{{ t.servico.id }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="col">Fornecedor</th>
                                                        <td>{{ t.servico.fornecedor }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="col">Data</th>
                                                        <td>{{ t.servico.data }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="col">Serviço</th>
                                                        <td>{{ t.servico.nome }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="col">Qualidade</th>
                                                        <td>{{ t.servico.qualidade }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="col">Valor</th>
                                                        <td>{{ t.servico.valor }}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="row w-100 d-flex justify-content-between">
                                                    <div class="col-auto">
                                                        <div class="row g-0 px-0">
                                                            <div class="col-6">
                                                                <a href="{% url 'fornecedores:editar_servico' t.servico.id %}"  class="btn btn-primary">Editar</a>
                                                            </div>
                                                            <div class="col-6">
                                                                <form action="{% url 'fornecedores:deletar_servico' t.servico.id %}" method="POST">
                                                                    {% csrf_token %}
                                                                    <button type="submit"  class="btn btn-danger">Deletar</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <!-- Despesa Trigger -->
                                <a href="#ModalVisualizarDespesa{{ t.id }}" data-bs-toggle="modal">
                                    <i class="far fa-eye link-dark"></i>
                                </a>
                                <!-- Despesa Modal -->
                                <div class="modal fade" id="ModalVisualizarDespesa{{ t.id }}" tabindex="-1" aria-labelledby="ModalVisualizarDespesa{{ t.id }}Label" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title display-6" id="ModalVisualizarDespesa{{ t.id }}Label">
                                                    <strong>Despesa #{{ t.id }} - {{ t.categoria }}</strong>
                                                </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Código</th>
                                                            <th scope="col">Data</th>
                                                            <th scope="col">Categoria</th>
                                                            <th scope="col">Valor</th>
                                                            <th scope="col">Repetir</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <th scope="col">{{ t.id }}</th>
                                                        <td>{{ t.data }}</td>
                                                        <td>{{ t.categoria }}</td>
                                                        <td>R$ {{ t.valor|intcomma }}</td>
                                                        <td>{{ t.get_repetir_display }}</td>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="row w-100 d-flex justify-content-between">
                                                    <div class="col-auto">
                                                        <div class="row g-0 px-0">
                                                            <div class="col-6">
                                                                <a href="{% url 'financeiro:editar_despesa' t.id %}"  class="btn btn-primary">Editar</a>
                                                            </div>
                                                            <div class="col-6">
                                                                <form action="{% url 'financeiro:deletar_despesa' t.id %}">
                                                                    <button type="submit"  class="btn btn-danger">Deletar</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
