{% extends 'base.html' %}
{% load bootstrap5 %}
{% load financeiro %}
{% load humanize %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 mb-3 border-bottom">
    <h1 class="h2">
        Fluxo de Caixa
        {% if saldo >= 0%}
        <span class="text-success">+{{ saldo|intcomma }}</span>
        {% else %}
        <span class="text-danger">{{ saldo|intcomma }}</span>
        {% endif %}
    </h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="dropdown me-2">
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                {{ data|date:"F" }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                {% for mes in nomes %}
                    <li><a class="dropdown-item {% if data.month == forloop.counter %}active{% endif %}" href="{% url 'financeiro:fluxo_de_caixa' data.year forloop.counter %}">{{ mes }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="dropdown me-2">
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                {{ data.year }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {% for ano in anos %}
                    <li><a class="dropdown-item {% if data.year == ano %}active{% endif %}" href="{% url 'financeiro:fluxo_de_caixa' ano data.month %}">{{ ano }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="btn-group" role="group">
            <a href="{% url 'financeiro:nova_venda' %}?next={{ request.path|urlencode }}" class="btn btn-sm btn-outline-secondary">Nova Venda</a>
            <a href="{% url 'financeiro:nova_despesa' %}?next={{ request.path|urlencode }}" class="btn btn-sm btn-outline-secondary">Nova Despesa</a>
        </div>
    </div>
</div>

<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{ nomes|safe }},
        datasets: [{
            data: {{ dados|safe }},
            backgroundColor: [
                '#006FE6'
            ],
            borderColor: [
                '#006FE6'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        },
        plugins: {
            legend: {
                display: false
            }
        }
    }
});
</script>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Data</th>
                <th scope="col">Tipo</th>
                <th scope="col">Categoria</th>
                <th scope="col">Valor (parcela)</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for t in transacoes %}
            <tr>
                <th scope="col">{{ t.id }}</th>
                <td>
                    {% if t.get_categoria_fluxo_de_caixa == 'Entrada de Material' %}
                        {{ t.entrada|date:"d-m-Y" }}
                    {% else %}
                        {{ t.data|date:"d-m-Y" }}
                    {% endif %}
                </td>
                <td>
                    {% if t.get_categoria_fluxo_de_caixa == 'Venda' %}
                        Receita
                    {% else %}
                        Despesa
                    {% endif %}
                </td>
                <td>{{ t.get_categoria_fluxo_de_caixa }}</td>
                <td>
                    {% if t.get_categoria_fluxo_de_caixa == 'Venda' %}
                        {% get_parcela t data %}
                    {% else %}
                        R$ {{ t.total_pago|intcomma }}
                    {% endif %}
                </td>
                <td>
                    <ul class="list-inline m-0">
                        <li class="list-inline-item me-3">
                            {% if t.get_categoria_fluxo_de_caixa == 'Venda' %}
                                <!-- Venda Trigger -->
                                <a href="#ModalVisualizarVenda{{ t.id }}" data-bs-toggle="modal">
                                    <i class="far fa-eye link-dark"></i>
                                </a>
                                <!-- Venda Modal -->
                                <div class="modal fade" id="ModalVisualizarVenda{{ t.id }}" tabindex="-1" aria-labelledby="ModalVisualizarVenda{{ t.id }}Label" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title display-6" id="ModalVisualizarVenda{{ t.id }}Label">
                                                    <strong>Venda #{{ t.id }}</strong>
                                                </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table">
                                                    <thead>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Data</th>
                                                        <th scope="col">Cliente</th>
                                                        <th scope="col">Produtos</th>
                                                        <th scope="col">Parcelas</th>
                                                        <th scope="col">Valor Total</th>
                                                    </thead>
                                                    <tbody>
                                                        <th scope="col">{{ t.id }}</th>
                                                        <td>{{ t.data|date:"d-m-Y" }}</td>
                                                        <td>{{ t.cliente.get_nome_completo|default:"Desconhecido" }}</td>
                                                        <td>{{ t.produtos.all|join:", " }}</td>
                                                        <td>{{ t.parcelas }}x de R$ {{ t.get_preco_parcela}}</td>
                                                        <td>{{ t.total_pago|intcomma }}</td>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="row w-100 d-flex justify-content-between">
                                                    <div class="col-auto">
                                                        <div class="row g-0 px-0">
                                                            <div class="col-6">
                                                                <a href="{% url 'financeiro:editar_venda' t.id %}" class="btn btn-primary">Editar</a>
                                                            </div>
                                                            <div class="col-6">
                                                                <form action="{% url 'financeiro:deletar_venda' t.id %}">
                                                                    <button type="submit" class="btn btn-danger">Deletar</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% elif t.get_categoria_fluxo_de_caixa == 'Entrada de Material' %}
                                <!-- Despesa Trigger -->
                                <a href="#ModalVisualizart{{ t.id }}" data-bs-toggle="modal">
                                    <i class="far fa-eye link-dark"></i>
                                </a>
                                <!-- Despesa Modal -->
                                <div class="modal fade" id="ModalVisualizart{{ t.id }}" tabindex="-1" aria-labelledby="ModalVisualizart{{ t.id }}Label" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title display-6" id="ModalVisualizart{{ t.id }}Label">
                                                    <strong>{{t.nome}} #{{ t.id }}</strong>
                                                </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <!-- Informações Gerais -->
                                                        <div class="card" style="flex-direction: row">
                                                            <div class="card-img-top" style="width: 33%">
                                                                <img src="{{ t.foto.url }}" class="card-img-top" alt="...">
                                                            </div>
                                                            <div class="card-body">
                                                                <table class="table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="fs-5">Informações Gerais</th>
                                                                            <th></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td><strong>Entrada:</strong> {{ t.entrada|date:"d-m-Y"|default:"Indisponível" }}</td>
                                                                            <td><strong>Qualidade:</strong> {{ t.qualidade }}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><strong>Categoria:</strong> {{ t.categoria }}</td>
                                                                            <td><strong>Subcategoria:</strong> {{ t.subcategoria|default:"Nenhuma" }}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><strong>Dimenssões:</strong> {{ t.get_dimenssoes }}</td>
                                                                            <td><strong>Peso:</strong> {{ t.get_peso }}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><strong>Preço Unitário:</strong> R$ {{ t.get_preco_unitario }}</td>
                                                                            <td>
                                                                                {% if t.unidade_de_medida == 'g' %}
                                                                                    <strong>Preço da Grama :</strong>
                                                                                {% else %}
                                                                                    <strong>Preço do Quilate :</strong>
                                                                                {% endif %}
                                                                                R$ {{ t.get_preco_por_peso }}
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Observação -->
                                                    {% if t.observacao %}
                                                    <div class="col-12">
                                                        <h1 class="display-6">Observação</h1>
                                                        <p class="px-3">
                                                            {{ t.observacao }}
                                                        </p>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="row w-100 d-flex justify-content-between">
                                                    <div class="col-auto">
                                                        <div class="row g-0 px-0">
                                                            <div class="col-auto">
                                                                <a href="{% url 'materiais:editar_material' t.id %}" class="btn btn-primary">Editar</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <!-- Despesa Trigger -->
                                <a href="#ModalVisualizarDespesa{{ t.id }}" data-bs-toggle="modal">
                                    <i class="far fa-eye link-dark"></i>
                                </a>
                                <!-- Despesa Modal -->
                                <div class="modal fade" id="ModalVisualizarDespesa{{ t.id }}" tabindex="-1" aria-labelledby="ModalVisualizarDespesa{{ t.id }}Label" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title display-6" id="ModalVisualizarDespesa{{ t.id }}Label">
                                                    <strong>Despesa #{{ t.id }}</strong>
                                                </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Data</th>
                                                            <th scope="col">Categoria</th>
                                                            <th scope="col">Valor</th>
                                                            <th scope="col">Repetir</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <th scope="col">{{ t.id }}</th>
                                                        <td>{{ t.data }}</td>
                                                        <td>{{ t.categoria }}</td>
                                                        <td>{{ t.total_pago|intcomma }}</td>
                                                        <td>{{ t.get_repetir_display }}</td>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="row w-100 d-flex justify-content-between">
                                                    <div class="col-auto">
                                                        <div class="row g-0 px-0">
                                                            <div class="col-6">
                                                                <a href="{% url 'financeiro:editar_despesa' t.id %}"  class="btn btn-primary">Editar</a>
                                                            </div>
                                                            <div class="col-6">
                                                                <form action="{% url 'financeiro:deletar_despesa' t.id %}">
                                                                    <button type="submit"  class="btn btn-danger">Deletar</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
