{% extends 'base.html' %}
{% load bootstrap5 %}
{% load humanize %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">
        {{ title }}
        <span class="text-success">+{{ saldo|intcomma }}</span>
    </h1>

    <div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Ações
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'vendas:basket_summary' %}"><i class="fas fa-plus me-2"></i>Novo</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item disabled" href="#"><i class="fas fa-download me-2"></i>Importar</a></li>
          <li><a class="dropdown-item disabled" href="#"><i class="fas fa-upload me-2"></i>Exportar</a></li>
          <li><a class="dropdown-item disabled" href="#"><i class="fa-solid fa-chart-column me-2"></i>Relatório</a></li>
        </ul>
    </div>
</div>

<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{ meses|safe }},
        datasets: [{
            data: {{ dados|safe }},
            backgroundColor: [
                '#006FE6'
            ],
            borderColor: [
                '#006FE6'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        },
        plugins: {
            legend: {
                display: false
            }
        }
    }
});
</script>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Data</th>
                <th scope="col">Categoria</th>
                <th scope="col">Valor</th>
            </tr>
        </thead>
        <tbody>
            {% for receita in receitas %}
            <tr>
                <th scope="col">{{ receita.receita.id }}</th>
                <td>{{ receita.data }}</td>
                <td>{{ receita.categoria }}</td>
                <td>R$ {{ receita.valor }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
