{% extends 'base.html' %}
{% load bootstrap5 %}
{% load humanize %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    {% if title %}
    <h1 class="h2">{{ title }}</h1>
    {% endif %}
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <a href="{% url 'materiais:nova_entrada' %}" class="btn btn-sm btn-outline-secondary">
            Nova Entrada
        </a>
    </div>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Data</th>
                <th>Fornecedor</th>
                <th>Unidades Compradas</th>
                <th>Total Pago</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for entrada in entradas %}
            <tr>
                <th scope="col">{{ entrada.id }}</th>
                <td>{{ entrada.data }}</td>
                <td>{{ entrada.fornecedor.nome }}</td>
                <td>{{ entrada.unidades }}</td>
                <td>R$ {{ entrada.total_pago|intcomma }}</td>
                <td>
                    <ul class="list-inline m-0">
                        <li class="list-inline-item me-3">
                            <a href="{% url 'materiais:editar_entrada' entrada.id entrada.get_material.id %}"><i class="fas fa-wrench link-dark"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <form action="{% url 'materiais:deletar_entrada' entrada.id %}" method="POST">
                                {% csrf_token %}
                                <!-- Deletar Model Trigger -->
                                <a href="#modelDeletarEntrada{{ entrada.id }}" data-bs-toggle="modal"><i class="fas fa-trash link-dark"></i></a>
                                <!-- Model -->
                                <div class="modal fade" id="modelDeletarEntrada{{ entrada.id }}" tabindex="-1" aria-labelledby="modelDeletarEntrada{{ entrada.id }}Label" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title display-6" id="modelDeletarEntrada{{ entrada.id }}Label">
                                                    Deletar entrada <strong>#{{ entrada.id }}</strong>
                                                </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Você tem certeza que deseja deletar esta entrada?</p>
                                                <p><strong>Ela será deletada para sempre e o material será retirado do estoque!</strong></p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                                <button type="submit" class="btn btn-danger">Deletar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}