{% extends 'base_table.html' %}
{% load bootstrap5 %}
{% load humanize %}

{% block table_block %}

<div class="table">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Data</th>
                <th>Material</th>
                <th>Fornecedor</th>
                <th>Código do Fornecedor</th>
                <th>Unidades</th>
                <th>Peso</th>
                <th>Valor</th>
                <th>Ver Mais</th>
            </tr>
        </thead>
        <tbody>
            {% for entrada in entradas %}
            <tr>
                <th scope="col">{{ entrada.id }}</th>
                <td>{{ entrada.data|date:"d-m-Y"|default:"Indisponível" }}</td>
                <td>{{ entrada.material }}</td>
                <td>{{ entrada.fornecedor }}</td>
                <td>{{ entrada.codigo_do_fornecedor }}</td>
                <td>{{ entrada.unidades }}</td>
                <td>{{ entrada.peso }} {{entrada.unidade_de_medida}}</td>
                <td>R$ {{ entrada.valor }}</td>
                <td>
                    <!-- VER MAIS -->
                    <div class="dropdown">
                        <a class="text-dark" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-ellipsis-h fs-4 ms-3"></i>
                        </a>
                        <ul class="dropdown-menu overflow-visible" aria-labelledby="dropdownMenuLink">
                            <li>
                                <!-- Visualizar entrada modal trigger -->
                                <a href="#VerMaisModal{{ entrada.id }}" data-bs-toggle="modal" class="dropdown-item">
                                    <i class="far fa-eye"></i> <span class="ms-1">Visualizar</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'materiais:editar_entrada' entrada.id %}">
                                    <i class="fas fa-edit"></i> <span class="ms-1">Editar</span>
                                </a>
                            </li>
                            <li>
                                <!-- Trigger Modal Remover Entrada -->
                                <a href="#modalDeletarEntrada{{ entrada.id }}" data-bs-toggle="modal" class="dropdown-item">
                                    <i class="fas fa-trash link-dark"></i> <span class="ms-1">Deletar</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- Visualizar Entrada Modal -->
                    <div class="modal fade" id="VerMaisModal{{ entrada.id }}" tabindex="-1" aria-labelledby="VerMaisModalLabel{{ entrada.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="VerMaisModalLabel{{ entrada.id }}">{{ entrada.material }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Nothing here for now...
                            </div>
                            <div class="modal-footer">
                                <a href="{% url 'materiais:editar_entrada' entrada.id %}" class="btn btn-primary">Editar</a>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    <form action="{% url 'materiais:deletar_entrada' entrada.id %}" method="POST">
                        {% csrf_token %}
                        <div class="modal fade" id="modalDeletarEntrada{{ entrada.id }}" tabindex="-1" aria-labelledby="modalDeletarEntrada{{ entrada.id }}Label" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title display-6" id="modalDeletarEntrada{{ entrada.id }}Label">{{ entrada }}</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Você tem certeza que deseja deletar esta entrada de material?</p>
                                <p><strong>Ela será deletado para sempre!</strong></p>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-danger">Deletar</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            </div>
                            </div>
                        </div>
                        </div>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}