{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
{% if title %}
<div class="d-flex justify-content-between flex-wrap flex-lg-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ title }}</h1>
</div>
{% endif %}

<div class="container-lg mb-4">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-12 border shadow py-3 px-4">
            <form action="{% url 'materiais:nova_entrada' %}" method="POST" enctype="multipart/form-data" >
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
                <div class="row gx-2">
                    <div class="col-lg-8">
                        {% bootstrap_field form.foto %}
                    </div>
                    <div class="col-lg-4">
                        {% bootstrap_field form.nome %}
                    </div>
                </div>
                <div class="row gx-2">
                    <div class="col-lg-4">
                        {% bootstrap_field form.entrada %}
                    </div>
                    <div class="col-lg-4">
                        <div class="row g-0">
                            <div class="col-10">
                                {% bootstrap_field form.fornecedor %}
                            </div>
                            <div class="col-2">
                                <a href="{% url 'fornecedores:novo_fornecedor' %}?next=/materiais/nova_entrada/" class="btn btn-outline-secondary rounded-0 rounded-end mt-4 px-3">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        {% bootstrap_field form.qualidade %}
                    </div>
                </div>
                <div class="row gx-2">
                    <div class="col-lg-6">
                        {% bootstrap_field form.categoria %}
                    </div>
                    <div class="col-lg-6">
                        {% bootstrap_field form.subcategoria %}
                    </div>
                </div>
                <div class="row gx-2">
                    <div class="col-lg-6">
                        {% bootstrap_field form.unidades_compradas %}
                    </div>
                    <div class="col-lg-6">
                        {% bootstrap_field form.estoque %}
                    </div>
                </div>
                <div class="row gx-2">
                    <div class="col-lg-6">
                        {% bootstrap_label form.peso.label %}
                        <div class="row g-0">
                            <div class="col-6">
                                {% bootstrap_field form.peso show_label=False %}
                            </div>
                            <div class="col-6">
                                {% bootstrap_field form.unidade_de_medida show_label=False %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label for="">Dimenssões</label>
                        <div class="row g-0">
                            <div class="col-4">
                                {% bootstrap_field form.altura show_label=False %}
                            </div>
                            <div class="col-4">
                                {% bootstrap_field form.largura show_label=False %}
                            </div>
                            <div class="col-4">
                                {% bootstrap_field form.comprimento show_label=False %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2 px-2">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}