{% extends 'base_table.html' %}
{% load bootstrap5 %}
{% load humanize %}

{% block table_block %}
<div class="table">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Categoria (Subcategoria)</th>
                <th>Dimensões (mm)</th>
                <th>Peso</th>
                <th>Estoque</th>
                <th>Ver Mais</th>
            </tr>
        </thead>
        <tbody>
            {% for material in materiais %}
            <tr>
                <th scope="col">{{ material.id }}</th>
                <td>{{ material.nome }}</td>
                <td>
                    {{ material.categoria }}
                    {% if material.subcategoria %}
                        ({{ material.subcategoria|default:"Nenhuma" }})
                    {% endif %}
                </td>
                <td>{{ material.get_dimensoes }}</td>
                <td>{{ material.get_peso }}</td>
                <td>{{ material.estoque }}</td>
                <td>
                    <!-- VER MAIS -->
                    <div class="dropdown">
                        <a class="text-dark" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-ellipsis-h fs-4 ms-3"></i>
                        </a>
                        <ul class="dropdown-menu overflow-visible" aria-labelledby="dropdownMenuLink">
                            <li>
                                <!-- Material modal trigger -->
                                <a href="#materialModal{{ material.id }}" data-bs-toggle="modal" class="dropdown-item">
                                    <i class="far fa-eye"></i> <span class="ms-1">Visualizar</span>
                                </a>
                            </li>
                            <!-- TODO: Adicionar btn duplicar -->
                            <li>
                                <a class="dropdown-item" href="{% url 'materiais:editar_material' material.id %}">
                                    <i class="fas fa-edit"></i> <span class="ms-1">Editar</span>
                                </a>
                            </li>
                            <li>
                                <!-- Delete Modal Trigger -->
                                <a href="#deletarMaterialModal{{ material.id }}" data-bs-toggle="modal" class="dropdown-item">
                                    <i class="fas fa-trash link-dark"></i> <span class="ms-1">Deletar</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- Material Modal -->
                    <div class="modal fade" id="materialModal{{ material.id }}" tabindex="-1" aria-labelledby="materialModal{{ material.id }}Label" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title display-6" id="materialModal{{ material.id }}Label">
                                        {{ material.nome }} <strong>#{{ material.id }}
                                        {% if material.codigo_do_fornecedor %} - {{ material.codigo_do_fornecedor }}{% endif %}</strong>
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <!-- Informações Gerais -->
                                            <div class="card">
                                                <div class="row g-0">
                                                    <div class="col-md-4">                                                
                                                        <img src="{{ material.foto.url }}" class="card-img-top" alt="...">
                                                    </div>
                                                    <div class="col-md-8">
                                                    <div class="card-body">
                                                        <div class="container">
                                                            <h1 class="display-6">Informações Gerais</h1>
                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <strong>Entrada:</strong> {{ material.get_ultima_entrada|date:"d-m-Y"|default:"Indisponível" }}
                                                                </div>
                                                                <div class="col-6">
                                                                    <strong>Qualidade:</strong> {{ material.qualidade }}
                                                                </div>
                                                                <div class="col-6">
                                                                    <strong>Categoria:</strong> {{ material.categoria }}
                                                                </div>
                                                                <div class="col-6">
                                                                    <strong>Subcategoria:</strong> {{ material.subcategoria|default:"Nenhuma" }}
                                                                </div>
                                                                <div class="col-6">
                                                                    <strong>Dimenssões:</strong> {{ material.get_dimensoes }}
                                                                </div>
                                                                {% if material.unidade_de_medida %}
                                                                <div class="col-6">
                                                                    <strong>Peso Total:</strong> 
                                                                    {{ material.peso }} {{ material.unidade_de_medida }}
                                                                </div>
                                                                {% endif %}
                                                                <hr class="my-2">
                                                                {% if material.get_preco_unitario  %}
                                                                <div class="col-6">
                                                                    <strong>Preço Unitário:</strong> R$ {{ material.get_preco_unitario|intcomma }}
                                                                </div>
                                                                {% endif %}
                                                                {% if material.unidade_de_medida %}
                                                                <div class="col-6">
                                                                    <strong>{{ material.get_unidade_de_medida_display|cut:"s" }}:</strong>
                                                                    R$ {{ material.get_preco_por_peso|intcomma }} / {{ material.unidade_de_medida }}
                                                                </div>
                                                                {% endif %}
                                                                <div class="col-6">
                                                                    <strong>Custo Total:</strong> R$ {{ material.get_opportunity_cost|intcomma }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Observação -->
                                        {% if material.observacao %}
                                        <div class="col-12">
                                            <h1 class="display-6">Observação</h1>
                                            <p class="px-3">
                                                {{ material.observacao }}
                                            </p>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="modal-footer">
                                        <a href="{% url 'materiais:editar_material' material.id %}" class="btn btn-primary">Editar</a>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Delete modal -->
                    <form action="{% url 'materiais:deletar_material' material.id %}" method="POST">
                        {% csrf_token %}
                        <div class="modal fade" id="deletarMaterialModal{{ material.id }}" tabindex="-1" aria-labelledby="deletarMaterialModal{{ material.id }}Label" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title display-6" id="deletarMaterialModal{{ material.id }}Label">
                                            <strong>{{ material.nome }} #{{ material.id }}</strong>
                                        </h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>
                                            Você tem certeza que deseja deletar este material?<br>
                                            Todas as entradas deste material também serão excluidas.
                                        </p>
                                        <p><strong>Ele será deletado para sempre!</strong></p>
                                        </label>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-danger">Deletar</button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<nav aria-label="Page navigation">
    <ul class="pagination">
        <!-- Previous -->
        {% if materiais.has_previous %}
            <li class="page-item px-0">
              <a class="page-link" href="?page={{ materiais.previous_page_number }}{% if search_by %}&{{ search_by }}{% endif %}{% if sorting %}&{{  sort_by }}{% endif %}">
                <i class="fa-solid fa-angles-left"></i>
              </a>
            </li>
        {% else %}
            <li class="page-item px-0 disabled"><a class="page-link" href="#" aria-disabled="true">
              <i class="fa-solid fa-angles-left"></i>
            </a></li>
        {% endif %}
        <!-- Page numbers -->
        {% for page_number in materiais.paginator.page_range %}
            {% if page_number == materiais.number %}
                <li class="page-item px-0 active" aria-current="page"><a class="page-link" href="?page={{ page_number }}{% if search_by %}&{{ search_by }}{% endif %}{% if sorting %}&{{  sort_by }}{% endif %}">{{ page_number }}<span class="sr-only">(current)</span></a></li>
            {% else %}
                <li class="page-item px-0"><a class="page-link" href="?page={{ page_number }}{% if search_by %}&{{ search_by }}{% endif %}{% if sorting %}&{{  sort_by }}{% endif %}">{{ page_number }}</a></li>
            {% endif %}
        {% endfor %}
        <!-- Next -->
        {% if materiais.has_next %}
            <li class="page-item px-0"><a class="page-link" href="?page={{ materiais.next_page_number }}{% if search_by %}&{{ search_by }}{% endif %}{% if sorting %}&{{  sort_by }}{% endif %}">
                <i class="fa-solid fa-angles-right"></i>
            </a></li>
        {% else %}
            <li class="page-item px-0 disabled"><a class="page-link" href="#" aria-disabled="true">
                <i class="fa-solid fa-angles-right"></i>
            </a></li>
        {% endif %}
    </ul>
</nav>

{% endblock table_block %}