{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    {% if title %}
    <h1 class="h2">{{ title }}</h1>
    {% endif %}
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <a href="{% url 'produtos:novo_produto' %}" class="btn btn-sm btn-outline-secondary">
            Novo Produto
        </a>
    </div>
</div>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Coleção</th>
      <th>Família</th>
      <th>Categorias</th>
      <th>Data de Criação</th>
      <th>Estoque</th>
      <th>Tamanho</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for produto in produtos %}
        <tr>
            <th>{{ produto.id }}</th>
            <td>{{ produto.nome }}</td>
            <td>{{ produto.colecao }}</td>
            <td>{{ produto.familia|default:"Nenhuma" }}</td>
            <td>{{ produto.categorias.all|join:", "|default:"Nenhuma" }}</td>
            <td>{{ produto.data_criacao|date:"d/m/Y"|default:"Indisponível" }}</td>
            <td>{{ produto.unidades }}</td>
            <td>{{ produto.tamanho }}</td>
            <td>
              <ul class="list-inline m-0">
                <li class="list-inline-item me-3">
                  <a href="#ModelProduto{{ produto.id }}" data-bs-toggle="modal"><i class="far fa-gem link-dark"></i></a>
                  <div class="modal fade" id="ModelProduto{{ produto.id }}" tabindex="-1" aria-labelledby="ModelProduto{{ produto.id }}Label" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title display-6" id="ModelProduto{{ produto.id }}Label">{{ produto.nome }} <strong>#{{ produto.id }}</strong></h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <!-- Informações Gerais -->
                            <div class="row mb-2 mx-0 gy-0">
                              <div class="col-md-12">
                                <div class="card" style="flex-direction: row">
                                  <div class="card-img-top" style="width: 33%">
                                    <img src="{{ produto.foto.url }}" class="card-img-top" alt="...">
                                  </div>
                                  <div class="card-body">
                                    <h5 class="card-title">Informações Gerais</h5>
                                    <p class="card-text">
                                        Coleção: {{ produto.colecao}}<br>
                                        Família: {{ produto.familia|default:"Indisponível" }}<br>
                                        Categorias: {{ produto.categorias.all|join:", "|default:"Nenhuma" }}<br>
                                        Criação: {{ produto.data_criacao|default:"Indisponível" }}<br>
                                        Unidades em Estoque: {{ produto.unidades }}<br>
                                        Tamanho: {{ produto.tamanho|default:"Indisponível" }}<br>
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- Materiais -->
                            <div class="row mb-2 mx-0 gy-0">
                              <div class="col-md-12">
                                <h1 class="display-6">Materiais</h1>
                              </div>
                            </div>
                            <!-- Serviços -->
                            <div class="row mb-2 mx-0 gy-0">
                              <div class="col-md-12">
                                <div class="row">
                                  <div class="col-auto">
                                      <h1 class="display-6">Serviços</h1>
                                  </div>
                                  <div class="col-auto align-self-center pt-1">
                                      <a href="{% url 'produtos:adicionar_servico' produto.id %}" class="link-dark align-top">
                                          <i class="fas fa-plus fa-lg"></i>
                                      </a>    
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-12">
                                <table class="table">
                                  <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Serviço</th>
                                        <th scope="col">Data</th>
                                        <th scope="col">Qualidade</th>
                                        <th scope="col">Total Pago</th>
                                        <th scope="col">Ações</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                      {% for servico in produto.servicos.all %}
                                      <tr>
                                          <th scope="col">{{ servico.id }}</th>
                                          <td>{{ servico.nome }}</td>
                                          <td>{{ servico.data }}</td>
                                          <td>{{ servico.qualidade }}</td>
                                          <td>{{ servico.total_pago }}</td>
                                          <td>
                                              <ul class="list-inline">
                                                  <li class="list-inline-item me-2">
                                                      <a href="{% url 'fornecedores:editar_servico' servico.id %}"><i class="fas fa-wrench link-dark"></i></a>
                                                  </li>
                                                  <li class="list-inline-item ms-2">
                                                    <form action="{% url 'fornecedores:deletar_servico' servico.id %}" method="POST">
                                                      {% csrf_token %}
                                                        <button type="submit" class="btn p-0 pb-1"><i class="fas fa-trash link-dark"></i></button>
                                                    </form>
                                                  </li>                                            
                                              </ul>
                                          </td>
                                      </tr>
                                      {% endfor %}
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!-- Precificação -->
                            <div class="row">
                              <div class="col-md-12">
                                <h1 class="display-6">Precificação</h1>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <div class="row d-flex justify-content-between w-100">
                              <div class="col-auto px-0">
                                  <div class="row gx-0">
                                      <div class="col-6">
                                          <a href="{% url 'produtos:editar_produto' produto.id %}"  class="btn btn-primary">Editar</a>
                                      </div>
                                      <div class="col-6">
                                          <form action="{% url 'produtos:deletar_produto' produto.id %}" method="POST">
                                              {% csrf_token %}
                                              <button type="submit" class="btn btn-danger">Deletar</button>
                                          </form>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-auto px-0">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                              </div>
                          </div>
                        </div>
                    </div>
                  </div>
                </li>
                <li class="list-inline-item me-3">
                  <a href="{% url 'produtos:editar_produto' produto.id %}"><i class="fas fa-wrench link-dark"></i></a>
                </li>
                <li class="list-inline-item">
                  <form action="{% url 'produtos:deletar_produto' produto.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn p-0 pb-1"><i class="fas fa-trash link-dark"></i></button>
                  </form>
                </li>
              </ul>
            </td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}