{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
{% if title %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ title }}</h1>
</div>
{% endif %}

<div class="container-sm mb-4">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12 border shadow py-3 px-4">
            <form method="POST" enctype="multipart/form-data" >
                {% csrf_token %}
                <div class="row gx-2">
                    <div class="col-lg-4">
                        {% bootstrap_field form.data_criacao %}
                    </div>
                    <div class="col-lg-8">
                        {% bootstrap_field form.foto %}
                    </div>
                </div>
                <div class="row gx-2">
                    <div class="col-lg-4">
                        {% bootstrap_field form.nome %}
                    </div>
                    <div class="col-lg-4">
                        {% bootstrap_field form.colecao %}
                    </div>
                    <div class="col-lg-4">
                        {% bootstrap_field form.familia %}
                    </div>
                </div>
                <div class="row gx-2">
                    <div class="col-lg-4">
                        {% bootstrap_field form.cor %}
                    </div>
                    <div class="col-lg-4">
                        {% bootstrap_field form.tamanho %}
                    </div>
                    <div class="col-lg-4">
                        {% bootstrap_field form.unidades %}
                    </div>
                </div>
                <div class="row gx-2">
                    <div class="col-lg-6">
                            {% bootstrap_field form.categorias %}
                    </div>
                    <div class="col-lg-6">
                        {% bootstrap_field form.observacao %}
                    </div>
                </div>
                <div class="row g-2 mt-2">
                    {% if novo_obj %}
                        <div class="col-md-6">
                            <button type="submit" name="submit-stay" class="btn btn-primary w-100">Enviar e Continuar</button>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" name="submit-leave" class="btn btn-primary w-100">Enviar e Sair</button>
                        </div>
                    {% else %}
                        <div class="col-12">
                            <button type="submit" name="submit-stay" class="btn btn-primary w-100">Enviar</button>
                        </div>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}