{% extends 'simple_base.html' %}
{% load humanize %}
{% load static %}
{% block content %}

<div class="container mb-3">
    {% for produto in produtos %}
    <div class="row mt-3">
            <div class="col-6">
                <div class="card">
                    <div class="row">
                        <div class="col-6 my-auto">
                            <div class="row gy-2">
                                <div class="col-8">
                                    <img src="{{ produto.get_barcode.url }}" class="card-img-bottom" alt="...">
                                </div>
                                <div class="col-3 mt-3 ps-0 pe-4">
                                    <img src="{% static 'images/z.png' %}" class="card-img-bottom" alt="...">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card-body">
                                <ul class="fs-4 list-unstyled">
                                    <li>Nome: {{ produto.nome }} </li>
                                    <li>Valor: R${{ produto.valor|intcomma }} </li>
                                </ul>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</did>

{% endblock content %}