{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    {% if title %}
    <h1 class="h2">{{ title }}</h1>
    {% endif %}
    <div class="btn-toolbar" role="toolbar">
        <div class="me-2">
            <form class="d-flex" method="get">
                <input class="form-control form-control-sm me-1" type="search" name="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-sm btn-outline-secondary" type="submit">
                  <i class="fas fa-search black"></i>
                </button>
            </form>
        </div>

        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Ações
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ create_url }}">Novo</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ import_url }}">Importar</a></li>
            <li><a class="dropdown-item" href="{{ export_url }}">Exportar</a></li>
          </ul>
        </div>
    </div>
</div>

{% block table_block %}
{% endblock table_block %}

{% endblock %}