{% extends 'generic_base.html' %}
{% load bootstrap5 %}

{% block content %}
<div class="container-sm mb-4">
    <div class="row d-flex justify-content-center">
        <div class="col-md-9 border shadow p-4">
            <form method="POST">
                <div class="row">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                </div>
                <div class="row mt-2">
                    {% buttons %}
                    <button type="submit" class="btn btn-primary">Enviar</button>
                    {% endbuttons %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}